
    .leaflet-container{
      cursor:'crosshair';

      }

      .compBar{
        cursor: 'ew-resize';


      }

        .wrapper {
            width: 100%;
            height: 100vh; /*view port height*/
            display: grid;
             /* small screens */
            grid-template-areas:
            "map"
            "widget";
            grid-template-rows: 10fr 2fr;

        }

        @media (min-width: 700px) {
          .wrapper{
            grid-template-areas:
                "map widget";
            grid-template-columns: 10fr 2fr;
            grid-template-rows: auto;
          }
      }

        #map {
            grid-area: map;
            border-radius: 10px;

        }


        /* set styles to the <h4> tag of the element with id= box */
